/*::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }
*/
	body {
		background-color: #FAFAFA;
		font-style: normal;
		font-size:13px;
        font-family: 'Roboto', 'Lucida Grande','Ubuntu','sans-serif';
		color: #4F5155;
		font-weight:300;
		scrollbar-face-color: #EAEAEA;
		overflow-y:hidden;
	}

	a {
		color: #fff;
		background-color: transparent;
		font-weight: normal;
        outline: none;
        text-decoration: none;
	}

	a:hover {
		color: #fff;
        outline: none;
        text-decoration: none;
	}

	h1 {
		font-size: 15px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
	h5{
		font-family: 'Roboto', 'Lucida Grande','Ubuntu','sans-serif';
	}
	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}
/* CUSTOM GRIDS AREA */

.items-col-10{
	width: 81.45% !important;
	margin-right: -10px;
}

img{
	width:100%;
}
a.item_details {
	cursor: pointer;
}
header{
    position: fixed;
	background-color: transparent;
    min-height:50px;
	width: 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
.danger{
    color: #ff6600;
}
.success {
	color:#028C3F;
}
.info {
	color:#0093DD !important;
}
.btn{
	border-radius: 0 !important;
	padding: 5px 10px;
}
.btn-info{
	background-color:#0093DD !important;
	color:#fff !important;
}
/* Login Page */

.login{
    width: 25%;
    margin: 0 auto;
    margin-top: 10%;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
    padding: 30px;
}
.login #login-logo{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}
input[type=text], input[type=password] {
  padding: 0 10px;
  width: 93%;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
br{
	padding: 3px 0;
}
.login input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	margin:0 auto;
    width: 20%;
    margin-top: 20px;

}

.login input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
/*Page Wrapper */
.wrapper {
	height:100h;
	position: relative;
}
/* Dashboard */

#logo-dashboard {
	background-color: #fff;
    padding:2px 15px 1px;
    border-right:0;
    border-bottom:1px solid #DFE8ED;
}
#logo-dashboard img{
    width: 90%;
    padding: 4px 15px 6px;
}
#account-details{
	background-color:#fff;
    border-bottom:1px solid #DFE8ED;
    color: #00275B;
}

#account-details{
    text-align: right;
    padding: 21px 0 21px;
}
#account-details ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
}
#account-details ul li{
    display: inline-block;
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding:0 7px;
    float: left;
    border-right: 1px dotted #00275B;
}
#account-details ul li:first-child {
    padding-right: 7px;
}
#account-details ul li:last-child {
    border-right: 0;
}
#account-details ul li a{
    text-decoration: none;
    color: #00275B;
    font-weight: 300;
}

/* Content Area */
#main{
	background-color:#FAFAFA ;
	position: relative;
	top: 57px;
	left: 16.6666666666667%;
	padding: 0 0 50px;
}

#crumbs {
	background-color: #FFF;
	border-top: 1px solid #E0E7ED;
	border-bottom: 1px solid #E0E7ED;
	padding: 8px;
	line-height: 25px;
	color:#3164A5;
    font-weight: 500;
	margin-left:-15px;
	margin-right:-15px;
	-webkit-box-shadow: 0 3px 2px -1px rgba(234, 234, 234,.7);
     -moz-box-shadow: 0 3px 2px -1px rgba(234, 234, 234,.7);
          box-shadow: 0 3px 2px -1px rgba(234, 234, 234,.7);
	position:fixed;
	top: 57px;
	width:66.6666666666667%;
	z-index:2;
}
#crumbs i.fa{
	font-size: 12px;
	-webkit-text-stroke: 1px #fff;
}
/* Content Area */
#content{ 
	height: 90vh; 
	padding-bottom:30px;
}
#content input[type=text]{
	border: 1px solid #C1C1C1;
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
/* #content select{
	border: 1px solid #C1C1C1;
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
} */
#content #dash-blocks{
    text-align: center;
    display: inline-grid;
    vertical-align: middle;
    font-size: 11px;
    padding: 15% 0% 20%;
    margin-top: 20px;
    border: 1px dotted #0F3A5D;
    min-height: 100px;
}
#dash-blocks p {
    display: block;
    color: #0F3A5D;
}

#dash-blocks i {
    color: #0F3A5D;
}
a #dash-blocks {
    text-decoration: none;
}
h5.title{
	border-bottom:1px dashed #E0E7ED;
	padding:8px 0;
	margin-bottom:10px;
}

/* Commercial Units Tabs */
#c__u {
	margin-right:-15px;
	margin-top: 35px;
}

/* Style for various uses of tabs */
#c__u  ul.tabs{
	margin:0;
	padding:0;
	background-color: #F4F7F8;
	font-size:11px;
	margin-left:-5px;
	margin-right:-5px;
	float:left;
}
#c__u  ul.tabs li{
	list-style:none;
	float: left;
	display: inline-block;
	border-width:1px 0 0px;
	border-style:solid;
	padding:0.5em 0.558em;
	border-color:#E0E7ED;
	color:#0F3A5D;
	font-weight:400;
	cursor: pointer;
}
#c__u  ul.tabs li{
	border-left:1px solid #E0E7ED;
}
#c__u  ul.tabs li:last-child{
	border-right:1px solid #E0E7ED;
}
#c__u  .tabs li:hover {
    background:#fff;
    }
#c__u  .tabs li.current{
    background: #fff;
	border-bottom:1px solid #fff;
}
.tab-content{
    display: none;
    line-height:1.4;
    background: #fff;
	padding:0 5px;
	border:1px solid #E0E7ED;
	margin-right: -5px;
	margin-left: -5px;
	float:left;
	width: 101.1%;
}
.tab-content ul{
	margin:0;
	padding:0;
	border-right:1px solid #DDDDDD;
	list-style: none;
	height:100%;
}

.tab-content{
	height: 100%;
	margin-bottom: 30px;
}
.tab-content.current{
    display: inherit;
}
#c__u  ul.col-towns{
	width: 19.2%;
	padding:2px 10px 15px 10px;
}
#c__u h5.town_list{
	border-bottom:1px solid #DDDDDD;
	border-top:0;
	margin-left:-15px;
	margin-right:-10px;
	font-size:11px!important;
	text-transform:uppercase;
	padding:8px 15px;
	margin-top:0 !important;
}
#c__u #directives, #c__u #licences{
	border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	margin-left: -1px;
	padding-bottom:20px;
	position:relative;
	height:200px;
}
#c__u #directives ul, #c__u #licences ul, #c__u #projects ul{
	height:140px;
	border-right:0;
	margin-left:-15px;
	margin-right:-15px;
	padding:5px 15px;
}
#c__u #directives h5.d__t, #c__u #licences h5.l__t, #c__u #projects h5.p__t{
	border-bottom:1px solid #DDDDDD;
	border-top:0;
    color: #3164A5;
	margin-left:-15px;
	margin-right:-15px;
	font-size:11px!important;
	text-transform:uppercase;
	padding:9px 15px;
	margin-top:0 !important; 
}
#c__u #directives li, #c__u #licences li, #c__u #projects li{
	list-style: none;
	font-size:12px;
	border-bottom:1px solid #F5F5F5;
	padding:5px 15px;
	margin-left:-15px;
	margin-right:-15px;
}
#c__u #directives li:last-child, #c__u #licences li:last-child, #c__u #projects li:last-child{
	border-bottom:0;
}

/* Licences Block */
#c__u #licences{
	border-right: 0;
	border-left: 0;
	margin-left: 0;
}
#c__u #licences ul{
	height:140px; 
}
/* Projects Block */
#c__u #projects{
	border-right:0;
	border-left:1px solid #DDDDDD; 
	padding-bottom:20px;
	position:relative;
	margin-left: -1px; 
}
#c__u #projects ul{
	height:140px; 
}

#c__u .tab-content ul.cu_details{
	margin-right: -5px;
	margin-left: -5px;
	border-right: 0 !important;
}

#c__u .tab-content ul.cu_details li{
	margin-left: 15px;
	border-right: 0 !important;
}
#c__u h5.c__list{
	border-bottom:1px solid #DDDDDD;
	border-top:0;
    color: #3164A5;
	margin: 0;
	font-size:11px!important;
	text-transform:uppercase;
	padding:9px 15px;
	margin-top:0 !important;
}
#c__u .c__details {
	border-top: 1px solid #DDDDDD;
}
#c__u table.cu_details th.col-md-0{
    width: 5.8% !important;
}
#c__u table.cu_details th.col-md-1{
    width: 9% !important;
}
#c__u table.cu_details th.col-md-2{
    width: 9% !important; 
}
#c__u table.cu_details th.col-md-2:last-child{
    width: 10% !important; 
}
#c__u table.cu_details th.col-md-3{
	width: 23% !important;
}
#c__u thead {
	border-bottom: 1px solid #DDDDDD;
}
#c__u thead th{
	font-family: 'Roboto';
	padding: 0;
	font-weight: 400;
	vertical-align: middle !important;
	padding:6px 2px;
}
#c__u table.cu_details i{
	padding: 0 2px;
}

#c__u table th:first-child{
	padding-left: 10px;
}
#c__u table td:first-child{
	padding-left: 10px;
}
#c__u table.cu_details tbody {
    counter-reset: rowNumber;
}

#c__u table.cu_details tbody tr {
    counter-increment: rowNumber;
    height: 30px;
	vertical-align: middle !important;
}

#c__u table.cu_details tbody td {
    padding: 5px;
    border-bottom: 1px solid #E0E7ED;
    border-right: 1px solid #E0E7ED;
}

#c__u table.cu_details tbody td:first-child, #c__u table.cu_details tbody td:nth-child(3) {
    text-align: center;
}

#c__u table.cu_details tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    font-weight: bold;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    width: 100% !important;
}
table.dataTable tbody tr.odd {
    background-color: #F4F7F8;
}

table.dataTable td:last-child {
    background-color: #fff;
    border-right: 0;
}
h5 select{
	font-weight: 400;
	font-size: 11px;
}
.select-style {
    border: 1px solid #E0E7ED;
    overflow: hidden;
    width: 18%;
}

.select-style select {
    padding: 4px 10px 3px; 
    border: none;
    width: 100%;
    box-shadow: none; 
    background: #FFF url("../images/selector.png") no-repeat 100% 50%;
    -webkit-appearance: none;
    cursor: pointer;
}

.select-style select:focus {
    outline: none;
}
/*  tabs ~ Sean Catchpole  */
/*  Scrollbar  */
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(255,255,255,1);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  border:1px solid #FAFAFA;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(229,229,229,229.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid #fff;
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(229,229,229,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
.scroll {
    overflow-y: scroll;
}

/*  Scrollbar  */
#sidebar{
	background-color: #fff;
	border-right: 1px solid #E0E7ED;
	position:fixed;
	height: 90vh;
	padding-bottom: 50px;
	left: 0;
	top:57px;
	z-index: -2;
}
#sidebar h6{
	text-transform: uppercase;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 500;
	padding: 3px 15px;
}
#sidebar h6 i.fa{
	font-size: 14px;
}
#sidebar ul{
	margin: 0;
	padding:0;
}
#sidebar li{
	list-style: none;
	padding:0;
}

#sidebar li a{
	color: #5B6870;
	font-family: 'Roboto', arial, sans-serif;
	display: block;
	font-weight:300;
	padding: 3px 15px;
	font-size: 13px;
}
#sidebar ul ul li{
	list-style: none;
	font-size:13px;
	border-top:1px solid #F7F7F7;
}
#sidebar ul ul li.active{
	background: #FAFAFA;
	margin-right:-1px;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
}
#sidebar ul ul li:last-child{
	border-bottom:1px solid #F7F7F7;
}
#sidebar h3{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
#sidebar2{
	background-color: #fff;
	border-left: 1px solid #DDDDDD;
	position:fixed;
	height: 90vh;
	padding-bottom: 50px;
	right: 0;
	top:57px;
	z-index: -2;
}
#sidebar2 li{
	display:block;
	list-style: none;
	font-size: 13px;
}
#sidebar2 #head-panel {
	background-color: #FFF;
	border-bottom: 1px solid #E0E7ED;
	padding: 9px;
	line-height: 25px;
	color:#3164A5;
    font-weight: 500;
	margin-left:-15px;
	margin-right:-16px;
}
.modal-header {
    padding: 2px 5px 0;
    border-bottom: 1px solid #E0E7ED;
    cursor: move
}
.modal-content {
    border-radius: 0; 
	-webkit-box-shadow: rgb(208, 208, 208) 0 2px 6px;
    box-shadow: rgb(208, 208, 208) 0 2px 6px;
    border: 1px solid #D0D0D0;
}
.modal h4{
	font-family: 'Roboto', 'Lucida Grande','Ubuntu','sans-serif';
	text-transform: uppercase;
	font-size: 13px;
	padding: 2px 5px 0;
	font-weight: 500;
	margin:4px 0 0;
}
.modal i{
	font-size: 14px;
	-webkit-text-stroke: 1px #317eac;
}
.modal-backdrop {
   background-color: #fff; 
    opacity:0.1;
}
button.close { 
    color: #fff;
    padding:2px 8px 6px !important;
    margin-right:-5px; 
    background-color: #317eac !important;
    font-weight: 300;
    opacity: 1;
}
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: red !important;
    opacity: 1;
    filter: alpha(opacity=50);
}
footer {
		text-align: right;
		font-size: 11px;
		line-height: 32px;
		padding: 0 10px 0 10px;
        background-color: #0F3A5D;
		margin: 20px 0 0 0;
        position: fixed;
        bottom: 0;
        width: 100%;
	}
#foot-bar {
	background:#0F3A5D;
	color:#fff;
	width: 100%;

}